<div class="grey lighten-5">
    <div class="space"></div>

    <div class="row">
        <div class="col l1 m1 s3 push-l1 push-m1">
            <button mat-icon-button color="warn" (click)="goBack()"><i class="fa fa-2x fa-chevron-left grey-text back"
                                                                  aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="space"></div>

    <div class="row container">
        <div class="space"></div>

        <div class="row">
            <mat-card class="col l12 m12 s12">
                <div class="event-card">
                    <div class="row">
                        <div class="col l10 m10 s10">
                            <h3 class="deep-orange-text wrap-word">{{e.name}}</h3>

                            <p class="grey-text text-darken-2 wrap-word">{{e.description}}</p>

                            <div class="space"></div>
                        </div>
                        <div class="l1 m1">
                            <span class="blue-grey-text"><i class="fa fa-users" aria-hidden="true"></i> <strong>{{e.members.length}}</strong></span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col l5 m5 s5 wrap-word">
                        <span class="blue-grey-text"><strong>Started
                            on: </strong>{{e.start_date | date:'fullDate'}}</span>
                        </div>
                        <div class="col l5 m5 s5">
                            <span class="blue-grey-text wrap-word right "><strong>Due on: </strong>{{e.due_date | date:'fullDate'}}</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="space"></div>

        <div class="row" *ngIf="e && e.has_action">
            <mat-card class="col l12 m12 s12">
                <div class="event-card">
                    <div class="row">
                        <h3 class="deep-orange-text">Your Action</h3>
                    </div>
                    <div class="row">
                        <div class="col l10 m10 s12">
                            <p class="wrap-word">{{e.your_action.action}}</p>
                        </div>
                    </div>

                    <div class="divider"></div>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col l10 m10 s12">
                            <mat-form-field class="full-width">
                                <textarea #stat matInput placeholder="write your new status here"></textarea>
                            </mat-form-field>
                            <button mat-raised-button color="warn"
                                    (click)="updateStatus(e.your_action.actionid,stat.value)">Update <i
                                    class="fa fa-refresh fa-spin" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>


        <div class="space"></div>

        <div class="row">
            <mat-card class="col l12 m12 s12">
                <div class="event-card">

                    <div class="row">
                        <h3 class="deep-orange-text">Actions</h3>
                    </div>

                    <div class="row" style="margin-top: 10px" *ngFor="let a of e.actions;let i=index">

                        <div class="col l1 m1 s1">
                            <i class="fa fa-user-circle fa-3x blue-grey-text" aria-hidden="true"></i>
                        </div>
                        <div class="space"></div>

                        <div class="col l8 m10 s9 wrap-word">
                            <strong class="deep-orange-text text-lighten-1">{{getUsername(a.userid)}}</strong>

                            <div class="space"></div>
                            <p class="blue-grey-text"><strong>action: </strong>{{a.action}}</p>

                            <p class="blue-grey-text"><strong>status: </strong>{{a.status}}</p>

                            <div class="space"></div>
                            <div *ngIf="i!=e.actions.length-1" class="divider"></div>
                        </div>

                        <div class="col l1 m1 s2" *ngIf="e.edit">
                            <button mat-icon-button matTooltip="ping" click="onPingclicked(a.actionid)"><i class="fa fa-2x fa-envelope orange-text"
                                                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="space"></div>

        <div class="row" *ngIf="e.edit">
            <mat-card class="col l12 m12 s12">
                <div class="event-card">
                    <div class="row">
                        <h3 class="deep-orange-text">Manage</h3>
                    </div>

                    <div class="space"></div>

                    <div class="row">
                        <div class="col l9 m9 s8">
                            <mat-form-field class="full-width">
                                <textarea #msg matInput placeholder="send update to members"></textarea>
                            </mat-form-field>
                            </div>
                            <div class="col l2 m2 s4">
                                <button mat-raised-button color="warn"
                                        (click)="pingMail(msg.value)">

                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    Mail
                                    <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>

                                </button>
                            </div>

                    </div>

                    <div class="space"></div>

                    <div class="row">
                        <div class="col l2 m2 s3">
                            <button mat-raised-button class="red darken-2 white-text"
                                    (click)="deleteEvent()">

                                <i class="fa fa-close" aria-hidden="true"></i>
                                Delete event
                                <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>

                            </button>
                        </div>
                    </div>

                </div>
            </mat-card>

            <div class="space"></div>

        </div>

    </div>
</div>